<section class="h-100 h-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Find Colleges</h3>
  
              <form class="px-md-2"   #ref="ngForm"   (ngSubmit)="getData(ref.value)">
  
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1q" class="form-control"   name="username"  ngModel  />
                  <label class="form-label" for="form3Example1q">Full Name</label>
                </div>
  
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control"      name="no"  ngModel />
                    <label class="form-label" for="form3Example1q">Mobile Number</label>
                  </div>
    
                  <div class="col-md-6 mb-4">
                     
                    <label class="form-label mx-2" >Location</label>
                    <select class="select"   name="district" value="" checked="checked" aria-label="Floating label select example"  ngModel>
                      <option value="1" disabled>Location</option>
                      <option value="Hyderabad">Hyderabad</option>
                      <option value="Karimnagar">Karimnagar</option>
                      <option value="Warangal">Warangal</option>
                    </select>
                </div>
  
                <div class="mb-4">
                    <label class="form-label mx-2" >Course</label>
                  <select class="select"  name="course" aria-label="Floating label select example"  ngModel>
                    <option value="1" disabled>Course</option>
                    <option value="Btech">Btech</option>
                    <option value="PG">PG</option>
                    
                  </select>
  
                </div>
  
  
                <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>